.game-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.tap-item {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-image: url("../../assets/game.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  transform: scale(100%);
  transition: all ease-in-out 0.1s;
}

.tap-item:active {
  transform: scale(90%);
}

.switch {
  all: unset;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  border-radius: 16px;
  padding: 8px;
  width: 50%;
}
