* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(68, 43, 194);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  height: 100%;
  padding: 8px;
  color: white;
  overflow-y: scroll;
}
